In [122]:
#Importing necessary dependencies
import pandas as pd
from datetime import datetime, timedelta

In [123]:
#Reading the dataset into dataframes
zulo_bank = pd.read_csv(r'Dataset\zulo_bank.csv')

In [124]:
#Viewing the first few rows of the dataset
display(zulo_bank.head())

,FullName,Email,Phone,TransactionType,Amount,TransactionDate,AccountType,Balance,OpeningDate,LoanAmount,LoanType,StartDate,EndDate,InterestRate
0,Carol Miller,yfisher@example.org,6088279027,withdrawal,102.15,2023-04-26,Savings,5652.16,2019-08-12,NaN,NaN,NaN,NaN,NaN
1,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,32428.90,Mortgage,2021-06-24,2050-01-08 04:59:17.907588,2.12
2,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,31406.77,Personal,2021-02-27,2038-10-12 04:59:17.907821,4.63
3,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,27834.00,Personal,2019-12-05,2037-08-15 04:59:17.909497,2.15
4,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,27873.08,Auto,2022-01-19,2037-06-03 04:59:17.913974,7.03

In [125]:
#checking the data info
zulo_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1554 entries, 0 to 1553
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FullName         1554 non-null   object
 1   Email            1554 non-null   object
 2   Phone            1554 non-null   object
 3   TransactionType  1554 non-null   object
 4   Amount           1554 non-null   float64
 5   TransactionDate  1554 non-null   object
 6   AccountType      1554 non-null   object
 7   Balance          1554 non-null   float64
 8   OpeningDate      1554 non-null   object
 9   LoanAmount       1278 non-null   float64
 10  LoanType         1278 non-null   object
 11  StartDate        1278 non-null   object
 12  EndDate          1278 non-null   object
 13  InterestRate     1278 non-null   float64
dtypes: float64(4), object(10)
memory usage: 170.1+ KB

In [126]:
# Fill up missing values with appropriate parameters
zulo_bank.fillna({
    'LoanAmount':0.0,
    'LoanType': 'unknown',
    'InterestRate':0.0
}, inplace=True)

In [127]:
zulo_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1554 entries, 0 to 1553
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FullName         1554 non-null   object
 1   Email            1554 non-null   object
 2   Phone            1554 non-null   object
 3   TransactionType  1554 non-null   object
 4   Amount           1554 non-null   float64
 5   TransactionDate  1554 non-null   object
 6   AccountType      1554 non-null   object
 7   Balance          1554 non-null   float64
 8   OpeningDate      1554 non-null   object
 9   LoanAmount       1554 non-null   float64
 10  LoanType         1554 non-null   object
 11  StartDate        1278 non-null   object
 12  EndDate          1278 non-null   object
 13  InterestRate     1554 non-null   float64
dtypes: float64(4), object(10)
memory usage: 170.1+ KB

In [128]:
#Convert to 1NF
#Spliting the Fullname column into FirstName and LastName
zulo_bank[['FirstName', 'LastName']] = zulo_bank['FullName'].str.split(expand=True)
display(zulo_bank.head())

,FullName,Email,Phone,TransactionType,Amount,TransactionDate,AccountType,Balance,OpeningDate,LoanAmount,LoanType,StartDate,EndDate,InterestRate,FirstName,LastName
0,Carol Miller,yfisher@example.org,6088279027,withdrawal,102.15,2023-04-26,Savings,5652.16,2019-08-12,0.00,unknown,NaN,NaN,0.00,Carol,Miller
1,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,32428.90,Mortgage,2021-06-24,2050-01-08 04:59:17.907588,2.12,Geoffrey,Banks
2,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,31406.77,Personal,2021-02-27,2038-10-12 04:59:17.907821,4.63,Geoffrey,Banks
3,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,27834.00,Personal,2019-12-05,2037-08-15 04:59:17.909497,2.15,Geoffrey,Banks
4,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,27873.08,Auto,2022-01-19,2037-06-03 04:59:17.913974,7.03,Geoffrey,Banks

In [129]:
#converting 1NF to 2NF
#Customer table
customer = zulo_bank[['FirstName', 'LastName', 'Email', 'Phone']].copy().drop_duplicates().reset_index(drop=True)
customer['Customer_id'] = range(1, len(customer) + 1)
customer = customer[['Customer_id', 'FirstName', 'LastName', 'Email', 'Phone']]

In [130]:
customer

,Customer_id,FirstName,LastName,Email,Phone
0,1,Carol,Miller,yfisher@example.org,6088279027
1,2,Geoffrey,Banks,gonzalesgeorge@example.net,001-546-857-6518x5359
2,3,Eric,Phillips,mark13@example.com,(699)516-7638x82918
3,4,Paul,Noble,harrisonrachel@example.net,+1-586-758-3968x3144
4,5,Ryan,Alexander,loganjohn@example.org,900.377.1792x148
...,...,...,...,...,...
82,83,Linda,Mendoza,lisaturner@example.net,(309)389-5448
83,84,Tony,Robinson,timothywiley@example.com,382-628-5059x479
84,85,Nicole,Stevens,colliermichael@example.net,(324)854-4855x79170
85,86,Philip,Huynh,bgraham@example.net,8058324167
86,87,Sheri,Johnson,michaelhahn@example.net,001-567-257-2127

In [131]:
#Accounts table
account = zulo_bank[['AccountType', 'Balance', 'OpeningDate']]
account['Account_id'] = range(1, len(account) + 1)
account = account[['Account_id', 'AccountType', 'Balance', 'OpeningDate']]

C:\Users\David Ibanga\AppData\Local\Temp\ipykernel_42652\161174132.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  account['Account_id'] = range(1, len(account) + 1)

In [132]:
account

      Account_id AccountType  Balance OpeningDate
0              1     Savings  5652.16  2019-08-12
1              2      Credit  2881.24  2019-05-06
2              3      Credit  2881.24  2019-05-06
3              4      Credit  2881.24  2019-05-06
4              5      Credit  2881.24  2019-05-06
...          ...         ...      ...         ...
1549        1550    Checking  6463.29  2023-10-07
1550        1551    Checking  6463.29  2023-10-07
1551        1552     Savings  3308.76  2019-09-02
1552        1553    Checking  6273.50  2019-07-19
1553        1554     Savings  9418.14  2021-01-26

[1554 rows x 4 columns]

In [133]:
zulo_bank.columns

Index(['FullName', 'Email', 'Phone', 'TransactionType', 'Amount',
       'TransactionDate', 'AccountType', 'Balance', 'OpeningDate',
       'LoanAmount', 'LoanType', 'StartDate', 'EndDate', 'InterestRate',
       'FirstName', 'LastName'],
      dtype='object')

In [134]:
#Transaction Table
transaction =zulo_bank[['TransactionType', 'Amount', 'TransactionDate']].copy().drop_duplicates().reset_index(drop=True)
transaction['Transaction_id'] = range(1, len(transaction) + 1)
transaction = transaction[['Transaction_id', 'TransactionType', 'Amount', 'TransactionDate']]
transaction

     Transaction_id TransactionType  Amount TransactionDate
0                 1      withdrawal  102.15      2023-04-26
1                 2      withdrawal  358.80      2020-06-13
2                 3         deposit  112.41      2019-05-17
3                 4         deposit  463.13      2020-09-02
4                 5      withdrawal   21.94      2022-07-03
..              ...             ...     ...             ...
995             996      withdrawal  303.30      2023-07-09
996             997         deposit  484.00      2020-12-27
997             998      withdrawal  427.36      2023-06-19
998             999      withdrawal  415.01      2022-02-09
999            1000         deposit  115.48      2021-10-16

[1000 rows x 4 columns]

In [135]:
#Loan Table
loan = zulo_bank[['LoanType', 'LoanAmount', 'StartDate', 'EndDate', 'InterestRate']].copy().drop_duplicates().reset_index(drop=True)
loan['Loan_id'] = range(1, len(loan) + 1)   
loan = loan[['Loan_id', 'LoanType', 'LoanAmount', 'StartDate', 'EndDate', 'InterestRate']]
loan

,Loan_id,LoanType,LoanAmount,StartDate,EndDate,InterestRate
0,1,unknown,0.00,NaN,NaN,0.00
1,2,Mortgage,32428.90,2021-06-24,2050-01-08 04:59:17.907588,2.12
2,3,Personal,31406.77,2021-02-27,2038-10-12 04:59:17.907821,4.63
3,4,Personal,27834.00,2019-12-05,2037-08-15 04:59:17.909497,2.15
4,5,Auto,27873.08,2022-01-19,2037-06-03 04:59:17.913974,7.03
...,...,...,...,...,...,...
125,126,Personal,44785.92,2020-06-25,2050-08-25 04:59:17.912929,1.55
126,127,Personal,6815.56,2023-02-19,2033-12-16 04:59:17.907530,2.90
127,128,Auto,15095.53,2021-10-26,2053-12-08 04:59:17.908990,4.58
128,129,Mortgage,46561.79,2019-10-21,2033-08-13 04:59:17.913469,2.50
129,130,Personal,33481.52,2023-07-14,2048-08-02 04:59:17.914125,5.06

In [136]:
#Merge Operation to create zulo_bank
zulo_bank =zulo_bank.merge(customer, on=['FirstName', 'LastName', 'Email', 'Phone'], how='left') \
                    .merge(account, on=['AccountType', 'Balance', 'OpeningDate'], how='left') \
                    .merge(transaction, on=['TransactionType', 'Amount', 'TransactionDate'], how='left') \
                    .merge(loan, on=['LoanType', 'LoanAmount', 'StartDate', 'EndDate', 'InterestRate'], how='left') \
                    [['Customer_id', 'Account_id', 'Transaction_id', 'Loan_id',]]

In [137]:
zulo_bank

       Customer_id  Account_id  Transaction_id  Loan_id
0                1           1               1        1
1                1         152               1        1
2                1         414               1        1
3                1        1143               1        1
4                2           2               2        2
...            ...         ...             ...      ...
18013            6         744            1000       12
18014            6         782            1000       12
18015            6        1183            1000       12
18016            6        1481            1000       12
18017            6        1554            1000       12

[18018 rows x 4 columns]

In [138]:
#Convert from 2NF to 3NF
#Create the date dimension table
#Define the start and end dates
start_date = datetime(2020, 1, 1)
current_date = datetime(2090, 12, 31)

#Calculate the numbers of days between start and end dates
num_days =(current_date - start_date).days

#Generate a list of dates from start date to current date
date_list = [start_date + timedelta(days=x) for x in range(num_days + 1)]

#Ensure date_id matches the length of thge date_list
date = {'date_id': [x for x in range(1, len(date_list) + 1)], 'date': date_list}

#Create dataframe
date_dim = pd.DataFrame(date)
date_dim['Year'] = date_dim['date'].dt.year
date_dim['Month'] = date_dim['date'].dt.month
date_dim['Day'] = date_dim['date'].dt.day
date_dim['date'] = pd.to_datetime(date_dim['date']).dt.date

In [139]:
date_dim

       date_id        date  Year  Month  Day
0            1  2020-01-01  2020      1    1
1            2  2020-01-02  2020      1    2
2            3  2020-01-03  2020      1    3
3            4  2020-01-04  2020      1    4
4            5  2020-01-05  2020      1    5
...        ...         ...   ...    ...  ...
25928    25929  2090-12-27  2090     12   27
25929    25930  2090-12-28  2090     12   28
25930    25931  2090-12-29  2090     12   29
25931    25932  2090-12-30  2090     12   30
25932    25933  2090-12-31  2090     12   31

[25933 rows x 5 columns]

In [140]:

# Accounts table from 2NF to 3NF
account['OpeningDate'] = pd.to_datetime(account['OpeningDate']).dt.date
account = account.merge(date_dim, left_on='OpeningDate', right_on='date', how='inner') \
                 .rename(columns={'date_id': 'OpeningDate_ID'}) \
                 .reset_index(drop=True) \
                [['Account_id', 'AccountType', 'Balance', 'OpeningDate_ID']]

In [141]:
account

      Account_id AccountType  Balance  OpeningDate_ID
0              6     Savings  2391.90             261
1              7     Savings  2391.90             261
2              8     Savings  2391.90             261
3              9      Credit  7880.53            1322
4             10      Credit  7880.53            1322
...          ...         ...      ...             ...
1253        1546    Checking   660.41            1482
1254        1549    Checking  6463.29            1376
1255        1550    Checking  6463.29            1376
1256        1551    Checking  6463.29            1376
1257        1554     Savings  9418.14             392

[1258 rows x 4 columns]

In [142]:
#Transaction table from 2NF to 3NF
transaction['TransactionDate'] = pd.to_datetime(transaction['TransactionDate']).dt.date
transaction = transaction.merge(date_dim, left_on='TransactionDate', right_on='date', how='inner') \
                         .rename(columns={'date_id': 'TransactionDate_ID'}) \
                         .reset_index(drop=True)[['Transaction_id', 'TransactionType', 'Amount', 'TransactionDate_ID']]

In [143]:
transaction

     Transaction_id TransactionType  Amount  TransactionDate_ID
0                 1      withdrawal  102.15                1212
1                 2      withdrawal  358.80                 165
2                 4         deposit  463.13                 246
3                 5      withdrawal   21.94                 915
4                 8      withdrawal  256.62                 873
..              ...             ...     ...                 ...
805             996      withdrawal  303.30                1286
806             997         deposit  484.00                 362
807             998      withdrawal  427.36                1266
808             999      withdrawal  415.01                 771
809            1000         deposit  115.48                 655

[810 rows x 4 columns]

In [144]:
#Loan table from 2NF to 3NF
loan['StartDate'] = pd.to_datetime(loan['StartDate']).dt.date
loan['EndDate'] = pd.to_datetime(loan['EndDate']).dt.date   
loan = loan.merge(date_dim, left_on='StartDate', right_on='date', how='inner') \
           .rename(columns={'date_id': 'StartDate_ID'}) \
           .reset_index(drop=True) \
           .merge(date_dim, left_on='EndDate', right_on='date', how='inner', suffixes=('', '_end')) \
           .rename(columns={'date_id': 'EndDate_ID'}) \
           .reset_index(drop=True) \
           [['Loan_id', 'LoanType', 'LoanAmount', 'StartDate_ID', 'EndDate_ID', 'InterestRate']]

In [145]:
loan

     Loan_id  LoanType  LoanAmount  StartDate_ID  EndDate_ID  InterestRate
0          2  Mortgage    32428.90           541       10966          2.12
1          3  Personal    31406.77           424        6860          4.63
2          5      Auto    27873.08           750        6364          7.03
3          6      Auto    25666.75          1225        7058          6.84
4          7  Personal    23853.85          1491        6618          7.41
..       ...       ...         ...           ...         ...           ...
98       125  Mortgage    48681.51           652        5608          3.28
99       126  Personal    44785.92           177       11195          1.55
100      127  Personal     6815.56          1146        5099          2.90
101      128      Auto    15095.53           665       12396          4.58
102      130  Personal    33481.52          1291       10442          5.06

[103 rows x 6 columns]

In [146]:
#Save to our directory
transaction.to_csv(r'Dataset\database_model\transaction.csv', index=False)
loan.to_csv(r'Dataset\database_model\loan.csv', index=False)
account.to_csv(r'Dataset\database_model\account.csv', index=False)
customer.to_csv(r'Dataset\database_model\customer.csv', index=False)
date_dim.to_csv(r'Dataset\database_model\date_dim.csv', index=False)
zulo_bank.to_csv(r'Dataset\database_model\zulo_bank.csv', index=False)

## Transaction DWH Schema

In [147]:
transaction_dim =transaction[['Transaction_id', 'TransactionType']].copy().drop_duplicates().reset_index(drop=True)
account_dim = account[['Account_id', 'AccountType', 'Balance']].copy().drop_duplicates().reset_index(drop=True)
transaction_fact_table =zulo_bank.merge(transaction, on='Transaction_id', how='inner') \
                            .merge(account, on='Account_id', how='inner') \
                            [['Transaction_id', 'Account_id', 'OpeningDate_ID', 'Amount', 'TransactionDate_ID']]

In [148]:
transaction_dim

     Transaction_id TransactionType
0                 1      withdrawal
1                 2      withdrawal
2                 4         deposit
3                 5      withdrawal
4                 8      withdrawal
..              ...             ...
805             996      withdrawal
806             997         deposit
807             998      withdrawal
808             999      withdrawal
809            1000         deposit

[810 rows x 2 columns]

In [149]:
account_dim

      Account_id AccountType  Balance
0              6     Savings  2391.90
1              7     Savings  2391.90
2              8     Savings  2391.90
3              9      Credit  7880.53
4             10      Credit  7880.53
...          ...         ...      ...
1253        1546    Checking   660.41
1254        1549    Checking  6463.29
1255        1550    Checking  6463.29
1256        1551    Checking  6463.29
1257        1554     Savings  9418.14

[1258 rows x 3 columns]

In [150]:
transaction_fact_table

       Transaction_id  Account_id  OpeningDate_ID  Amount  TransactionDate_ID
0                   4           9            1322  463.13                 246
1                   4          10            1322  463.13                 246
2                   4         524            1322  463.13                 246
3                   4         525            1322  463.13                 246
4                   4        1262            1322  463.13                 246
...               ...         ...             ...     ...                 ...
11602            1000         744             392  115.48                 655
11603            1000         782             392  115.48                 655
11604            1000        1183             392  115.48                 655
11605            1000        1481             392  115.48                 655
11606            1000        1554             392  115.48                 655

[11607 rows x 5 columns]

In [151]:
#Save to memory
transaction_dim.to_csv(r'Dataset\transaction_dwh\transaction_dim.csv', index=False)
account_dim.to_csv(r'Dataset\transaction_dwh\account_dim.csv', index=False)
transaction_fact_table.to_csv(r'Dataset\transaction_dwh\transaction_fact_table.csv', index=False)

## Loan DWH Schema

In [152]:
customer_dim = customer.copy()
loan_dim = loan[['Loan_id', 'LoanType']].copy().drop_duplicates().reset_index(drop=True)
loan_fact_table = zulo_bank.merge(customer, on='Customer_id', how='inner') \
                            .merge(loan, on='Loan_id', how='inner') \
                            [['Customer_id', 'Loan_id', 'StartDate_ID', 'EndDate_ID', 'LoanAmount', 'InterestRate']]

In [153]:
#Save to memory
customer_dim.to_csv(r'Dataset\loan_dwh\customer_dim.csv', index=False)
loan_dim.to_csv(r'Dataset\loan_dwh\loan_dim.csv', index=False)
loan_fact_table.to_csv(r'Dataset\loan_dwh\loan_fact_table.csv', index=False)

In [154]:
customer_dim

,Customer_id,FirstName,LastName,Email,Phone
0,1,Carol,Miller,yfisher@example.org,6088279027
1,2,Geoffrey,Banks,gonzalesgeorge@example.net,001-546-857-6518x5359
2,3,Eric,Phillips,mark13@example.com,(699)516-7638x82918
3,4,Paul,Noble,harrisonrachel@example.net,+1-586-758-3968x3144
4,5,Ryan,Alexander,loganjohn@example.org,900.377.1792x148
...,...,...,...,...,...
82,83,Linda,Mendoza,lisaturner@example.net,(309)389-5448
83,84,Tony,Robinson,timothywiley@example.com,382-628-5059x479
84,85,Nicole,Stevens,colliermichael@example.net,(324)854-4855x79170
85,86,Philip,Huynh,bgraham@example.net,8058324167
86,87,Sheri,Johnson,michaelhahn@example.net,001-567-257-2127

In [155]:
loan_dim

     Loan_id  LoanType
0          2  Mortgage
1          3  Personal
2          5      Auto
3          6      Auto
4          7  Personal
..       ...       ...
98       125  Mortgage
99       126  Personal
100      127  Personal
101      128      Auto
102      130  Personal

[103 rows x 2 columns]

In [156]:
loan_fact_table

,Customer_id,Loan_id,StartDate_ID,EndDate_ID,LoanAmount,InterestRate
0,2,2,541,10966,32428.90,2.12
1,2,2,541,10966,32428.90,2.12
2,2,2,541,10966,32428.90,2.12
3,2,2,541,10966,32428.90,2.12
4,2,2,541,10966,32428.90,2.12
...,...,...,...,...,...,...
12917,6,12,929,4745,12965.19,7.43
12918,6,12,929,4745,12965.19,7.43
12919,6,12,929,4745,12965.19,7.43
12920,6,12,929,4745,12965.19,7.43
12921,6,12,929,4745,12965.19,7.43

## Data Loading into RDMBS using psycopg2

In [157]:
!pip install psycopg2-binary
!pip install dotenv

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2-binary in c:\users\david ibanga\appdata\roaming\python\python312\site-packages (2.9.10)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: dotenv in c:\users\david ibanga\appdata\roaming\python\python312\site-packages (0.9.9)
Requirement already satisfied: python-dotenv in c:\programdata\anaconda3\lib\site-packages (from dotenv) (0.21.0)

In [158]:
import os
import psycopg2
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

# Load db params from environment
db_params = {
    'username': os.getenv('DB_USERNAME'),
    'password': os.getenv('DB_PASSWORD'),
    'host': os.getenv('DB_HOST'),
    'port': os.getenv('DB_PORT'),
    'database': os.getenv('DB_NAME')
}

#Define databse connection parameters including the database name
default_db_url = (
    f"postgresql://{db_params['username']}:{db_params['password']}"
    f"@{db_params['host']}:{db_params['port']}/postgres"
)

In [ ]:

try:
    # Connect to 'postgres' to check/create new database
    conn = psycopg2.connect(
        dbname='postgres',
        user=db_params['username'],
        password=db_params['password'],
        host=db_params['host'],
        port=db_params['port']
    )
    conn.autocommit = True
    cur = conn.cursor()

    # Check if the database already exists
    cur.execute("SELECT 1 FROM pg_catalog.pg_database WHERE datname = %s", (db_params['database'],))
    exists = cur.fetchone()

    if not exists:
        cur.execute(f"CREATE DATABASE {db_params['database']}")
        print("âœ… Database created successfully")
    else:
        print("â„¹ï¸ Database already exists")

    cur.close()
    conn.close()

except Exception as e:
    print(f"âŒ An error occurred: {e}")

DB Params: {'username': 'postgres', 'password': 'D030avbang@@', 'host': 'localhost', 'port': '5432', 'database': 'zulo_bank'}
âœ… Database created successfully