In [ ]:
#Importing necessary dependencies
import pandas as pd
from datetime import datetime, timedelta

In [ ]:
#Reading the dataset into dataframes
zulo_bank = pd.read_csv(r'Dataset\zulo_bank.csv')

In [ ]:
#Viewing the first few rows of the dataset
display(zulo_bank.head())

,FullName,Email,Phone,TransactionType,Amount,TransactionDate,AccountType,Balance,OpeningDate,LoanAmount,LoanType,StartDate,EndDate,InterestRate
0,Carol Miller,yfisher@example.org,6088279027,withdrawal,102.15,2023-04-26,Savings,5652.16,2019-08-12,NaN,NaN,NaN,NaN,NaN
1,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,32428.90,Mortgage,2021-06-24,2050-01-08 04:59:17.907588,2.12
2,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,31406.77,Personal,2021-02-27,2038-10-12 04:59:17.907821,4.63
3,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,27834.00,Personal,2019-12-05,2037-08-15 04:59:17.909497,2.15
4,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,27873.08,Auto,2022-01-19,2037-06-03 04:59:17.913974,7.03

In [7]:
#checking the data info
zulo_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1554 entries, 0 to 1553
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FullName         1554 non-null   object
 1   Email            1554 non-null   object
 2   Phone            1554 non-null   object
 3   TransactionType  1554 non-null   object
 4   Amount           1554 non-null   float64
 5   TransactionDate  1554 non-null   object
 6   AccountType      1554 non-null   object
 7   Balance          1554 non-null   float64
 8   OpeningDate      1554 non-null   object
 9   LoanAmount       1278 non-null   float64
 10  LoanType         1278 non-null   object
 11  StartDate        1278 non-null   object
 12  EndDate          1278 non-null   object
 13  InterestRate     1278 non-null   float64
dtypes: float64(4), object(10)
memory usage: 170.1+ KB

In [8]:
# Fill up missing values with appropriate parameters
zulo_bank.fillna({
    'LoanAmount':0.0,
    'LoanType': 'unknown',
    'StartDate':'unknown',
    'EndDate':'unknown',
    'InterestRate':0.0
}, inplace=True)

In [10]:
zulo_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1554 entries, 0 to 1553
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FullName         1554 non-null   object
 1   Email            1554 non-null   object
 2   Phone            1554 non-null   object
 3   TransactionType  1554 non-null   object
 4   Amount           1554 non-null   float64
 5   TransactionDate  1554 non-null   object
 6   AccountType      1554 non-null   object
 7   Balance          1554 non-null   float64
 8   OpeningDate      1554 non-null   object
 9   LoanAmount       1554 non-null   float64
 10  LoanType         1554 non-null   object
 11  StartDate        1554 non-null   object
 12  EndDate          1554 non-null   object
 13  InterestRate     1554 non-null   float64
dtypes: float64(4), object(10)
memory usage: 170.1+ KB

In [ ]:
#Convert to 1NF
#Spliting the Fullname column into FirstName and LastName
zulo_bank[['FirstName', 'LastName']] = zulo_bank['FullName'].str.split(expand=True)
display(zulo_bank.head())

,FullName,Email,Phone,TransactionType,Amount,TransactionDate,AccountType,Balance,OpeningDate,LoanAmount,LoanType,StartDate,EndDate,InterestRate,FirstName,LastName
0,Carol Miller,yfisher@example.org,6088279027,withdrawal,102.15,2023-04-26,Savings,5652.16,2019-08-12,0.00,unknown,unknown,unknown,0.00,Carol,Miller
1,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,32428.90,Mortgage,2021-06-24,2050-01-08 04:59:17.907588,2.12,Geoffrey,Banks
2,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,31406.77,Personal,2021-02-27,2038-10-12 04:59:17.907821,4.63,Geoffrey,Banks
3,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,27834.00,Personal,2019-12-05,2037-08-15 04:59:17.909497,2.15,Geoffrey,Banks
4,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,27873.08,Auto,2022-01-19,2037-06-03 04:59:17.913974,7.03,Geoffrey,Banks